body {
    background-image: url(images/background.jpg);
}

header {
    background-color:lightslategray;
    display:flexbox;
    margin: auto;
    height: 60px;
    border: 3px dotted dimgray;
}

.headP {
    font-size: 48px;
    margin: 0;
}

.startGameBtn {
    float:right;
    border: 0;
    color: whitesmoke;
    background-color: firebrick;
    height:60px;
    width: 25%;
    font-size: 0.5em;
    padding: 0px;
}

.startGameBtn:hover {
    background-color: tomato ;
}

.startGameBtn:active{
    transform: scale(0.9);
}

.container {
    position: fixed;
    top: 100px;
    left: 5%;
    width: 90%;
    height: 90%;
    background: rgba(52, 73, 94, 0.8);
    z-index: 50;
    visibility: hidden;
    opacity: 0;
    transition: 0.7s;
    /* display: flex; */
    /* flex-direction: column; */
}

.active {
    visibility: visible;
    opacity: 1;
}

.actionsDiv {
    align-items:flex-end;
    position: absolute;
    display: inline-block;
    bottom: 0;
    height: 5%;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 15px 0;
}

.actionButton {
    height: 100%;
    border: 0;
    color: whitesmoke;
    background-color: firebrick;
    cursor: pointer;
}

.actionButton:hover {
    background-color: tomato ;
}

.actionButton:active{
    transform: scale(0.9);
}


#feed {
    width: 33%;
    left: 33%
}

#lights-off {
    width: 33%;
    left: 66%;
}

#play {
    width: 33%;
}

.topDiv {
    align-items:flex-start;
}

.closeButton {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    background:firebrick;
    color: #fff;
    cursor: pointer;
    border: 0;
    font-size: 2em;
    padding-bottom: 5px;
    font-weight: bold;
}

.closeButton:hover {
    background-color: tomato ;
}

.closeButton:active{
    transform: scale(0.9);
}

.stats {
    list-style-type: none;
    position: absolute;
    display: inline-block;
    /* bottom: 0; */
    height: 5%;
    width: 100%;
    margin: auto;
    text-align: center;
    padding: 15px 0;
}

li {
    display: inline;
    padding: 3%;
    font-size: 3vw;
}